<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Café e Canela</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <a href="../../View/Home/index.html"><img src="../../IMG/white-logo.png" alt="Logo escrito Café e Canela em branco"></a>
    </header>
    <main>
        <h2> CURSO DE BARISTA COM </h2>
        <h2>Maximilian DeLacroix</h2>
        <section class="container-1">
            <img src="../../IMG/barista.jpg" alt="Maximilian DeLacroix">
            <div class="text-1">
                <p>O brabo vem para Curitiba! Serão dois dias inteiros e intensos para você sair daqui podendo trabalhar em cafeteria. Maximilian DeLacroix é barista há 13 anos, um dos principais nomes da cena dos Cafés Especiais no Brasil. É Bi-Campeão Brasileiro de Coffee in Good Spirits, o campeonato de drinks com café, e já foi finalista do campeonato de Latte Art por três vezes. Ele vem a Curitiba para oferecer este Curso de Barista e o Curso de Latte Art.
                </p><br>
                <p>O curso é bem intensivo. São dois dias completos para você sair daqui podendo trabalhar em uma cafeteria.</p><br>
                <p>Carga Horária:</p>
                <p>22/05 e 23/05</p>
                <p>De 9h as 17h</p><br>
                <p>BASE DO CURSO:</p><br>
                <ul>
                    <li>HISTÓRIA E EVOLUÇÃO DO CAFÉ PELO MUNDO</li>
                    <li>TAXONOMIA BÁSICA DA PLANTA</li>
                    <li>PRODUÇÃO E PLANTIO</li>
                    <li>ANÁLISE SENSORIAL BÁSICA</li>
                    <li>ENTENDENDO A MÁQUINA DE ESPRESSO, ORIENTAÇÃO SOBRE COMPRA OU ALUGUEL</li>
                    <li>EXTRAÇÃO DE ESPRESSO</li>
                    <li>REGULAGEM DE MOINHO</li>
                    <li>VAPORIZAÇÃO DE LEITE</li>
                    <li>BEBIDAS COM LEITE</li>
                    <li>CARDÁPIO</li>
                    <li>DRINKS COM CAFÉ</li>
                </ul>
            </div>
        </section>
        <section class="container-2">
            <div class="text-2">
                <p>Para participar do curso favor nos contatar via whatsapp (+55 41 99645-3214).</p><br>
            </div>
        </section>
    </main>
    <footer>
        <a href="#"><img src="../../IMG/facebook.png" alt="Logo do facebook">Café e Canela Facebook</a>
        <a href="#"><img src="../../IMG/intagram.png" alt="Logo do instagram" style="width: 30px; margin-left: 5px; margin-right: 15px;">Cafe_e_canela</a>
        <a href="tel:+5541996453214"><img src="../../IMG/whatsapp.png" alt="Logo do whatsapp">+41 99645-3214</a>
    </footer>
</body>
</html>