<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Café e Canela</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <a href="../../View/Home/index.html"><img src="../../IMG/white-logo.png" alt="Logo escrito Café e Canela em branco"></a>
    </header>
    <main>
        <section class="container-1">
            <a href="../../View/CardapioPage/index.html"><button id="btn_cardapio">Conheça nosso cardápio</button></a>
        </section>

        <section class="container-2">
            <div id="box_buttons">
                <div class="box_button">
                    <a href="../../View/HistoriaCafePage/index.html"><img src="../../IMG/button1.jpg" alt="Queda de grãos de café com um fundo escuro"> Conheça a história do café</a>
                </div>

                <div class="box_button">
                    <a href="../../View/CafeGeladoPage/index.html"><img src="../../IMG/button2.jpg" alt="imagem de um copo com café gelado"> Aprenda a fazer cafe gelado</a>
                </div>

                <div class="box_button">
                    <a href="#"><img src="../../IMG/button3.jpg" alt="Mão colocando o café dentro da máquina"> Curso de barista </a>
                </div>
            </div>
        </section>
    </main>

    <footer class="container-3">
        <a href="#"><img src="../../IMG/facebook.png" alt="Logo do facebook">Café e Canela Facebook</a>
        <a href="#"><img src="../../IMG/intagram.png" alt="Logo do instagram" style="width: 30px; margin-left: 5px; margin-right: 15px;">Cafe_e_canela</a>
        <a href="tel:+5541996453214"><img src="../../IMG/whatsapp.png" alt="Logo do whatsapp">+41 99645-3214</a>
    </footer>
</body>
</html>