<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História do Café</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <a href="../../View/Home/index.html"><img src="../../IMG/white-logo.png" alt="Logo escrito Café e Canela em branco"></a>
    </header>
    <main>
        <h2>Fomulário de Cadastro de Produtos</h2>
        <section class="container-1">
            <form action="..." method="...">
                <div class="campo">
                    <label for="prod_nome">Nome do Produto:</label>
                    <input type="text" id="prod_nome" name="prod_nome" required>
                </div>

                <div class="campo">
                    <label for="prod_code">Código do Produto:</label>
                    <input type="text" id="prod_code" name="prod_code" required>
                </div>

                <div class="campo">
                    <label for="prod_preco">Preço do Produto:</label>
                    <input type="number" id="prod_preco" name="prod_preco" required>
                </div>

                <div class="campo">
                    <label for="prod_descrição">Descrição do Produto:</label>
                    <textarea id="descricao" name="prod_descrição" rows="4" cols="50" required></textarea>
                </div>

                <div class="campo">
                    <button>Anexar Imagem</button>
                </div>

                <input type="submit" value="Cadastrar Produto">
            </form>
        </section>
    </main>

    <footer>
        <a href="#"><img src="../../IMG/facebook.png" alt="Logo do facebook">Café e Canela Facebook</a>
        <a href="#"><img src="../../IMG/intagram.png" alt="Logo do instagram" style="width: 30px; margin-left: 5px; margin-right: 15px;">Cafe_e_canela</a>
        <a href="tel:+5541996453214"><img src="../../IMG/whatsapp.png" alt="Logo do whatsapp">+41 99645-3214</a>
    </footer>
</body>
</html>